body{
  background-image:url(background.jpg);
  background-size: cover;
  margin-left:19%;
  margin-right: 19%;
  font-family: 'Poppins', sans-serif;
  padding-top: 2%;
}

.sfondo{
  background-color:rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding-top: 8%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 13%;
}

.logo{
  width: 25%;
  padding-left: 38%;
}

.titolo{
  text-align: center;
  color: lime;
  font-size: 200%;
  margin: 0;
}

.barra{
  background-color: lime;
  padding: 10px;
}

.bottone{
  margin-left:32%;
}


main{
  color:white;
  text-align: left;
}

p{
  margin:0;
}

.scooters1 > h2, .scooters3 > h2, .scooters2 > h2{
  display:inline-block;
  margin-bottom: 0;
  font-size: 18px;
}

.freccia:before {
 content: "\21A3";
}

.carica{
  padding: 15px;
  border-radius: 5px;
  margin-bottom:0;
}

.scooters1 > .carica{
  background: #e3a21a;
  width: 30%;
}

.scooters2 > .carica{
  background: #00a300;
  width: 80%;
}

.scooters3 > .carica{
  background: #c94c4c;
  width: 10%;
}
